<h1>Hangout Profile</h1>
<h4><%= @hangout.restaurant.name %></h4>
<h4> <%= @hangout.restaurant.address %></h4>
<h4> <%= @hangout.restaurant.cuisine %></h4>
<h4> <%= @hangout.date %></h4>
<h4> <%= @hangout.time %></h4>


<br>
<%= form_tag update_path, method: :patch do %>
    <%= hidden_field_tag :hangout_id, @hangout.id %>
    <%= submit_tag "Join this Hangout!" %>
<% end %>

<br>
<%= button_to "Back To Hangouts", hangouts_path, method: :get %>
<br>
